<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/intro-head.ejs') %>
  <body>
    <div id="starter">
      <div class="moto-div">
        <h2 id="intro">
          <a href="/user/login">LogIn</a> /
          <a href="/user/register">Register</a>
        </h2>
      </div>
    </div>
  </body>
</html>
