<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/intro-head.ejs') %>
  <body>
    <div id="log-in">
      <form id="logout-form" action="/user/logout" method="post">
        <button class="btn-logout">Log out</button>
      </form>
    </div>
    <% if(user.id == '2'){ %>
    <div class="admin-area">
      <a href="/admin/pages">Go Admin pages</a>
    </div>

    <% }else {%>
    <div id="starter">
      <div class="moto-div">
        <h1>Well come <%=user.userName%></h1>
        <div id="intro"><a href="/products">Buy now</a></div>
      </div>
    </div>

    <% } %>
  </body>
</html>
